<!DOCTYPE html>
<html lang="en">
<head>
    {{>headerlinks}}
</head>
<body>
    {{>navbar}}
        <div class="container-fluid main_menu1">
      <div class="row">
          <div class="col*md-10 col-12 mx">
            <div class="row">              
              <div class="col-md-12 col-12 main_header_left align-items-center">
                <figure class="errimg">
                    <img src="webproject images/img1.jpg" alt="">
                </figure>
                <p> Welcome to Shaury World</p>
                <h1>{{errormsg}}</h1>
                <a href="/about"><button> About me</button></a>
              </div>
            </div>
            
          </div>
        </div>
      </div>
    {{>footer}}
</body>
</html>