<!DOCTYPE html>
<html lang="en">
<head>
{{>headerlinks}}
</head>
<body>
    {{>navbar}}
    <div class="container-fluid main_menu1">
      <div class="row">
          <div class="col*md-10 col-12 mx">
            <div class="row">              
              <div class="col-md-6 col-12 main_header_right align-items-center">
                <figure>
                    <img src="webproject images/img5.jpg" alt="">
                </figure>
              </div>
              <div class="col-md-6 col-12 main_header_left">
                <p> Welcome to the weather app</p>
                <h1> I am a<span class="text-clr"> billionaire</span> and a tech god</h1>
                <a href="/about"><button> About me</button></a>
              </div>
            </div>
            
          </div>
        </div>
      </div>
      {{>footer}}
</body>
</html>